<div id="map" data-destinations="<%= ToDoItem.all.to_json %>"></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvWisWSnQxBb9ijegWkr1op0bnchVhau0&callback=initMap">
</script>